.navbar {
background-color: #270758 !important;
}
.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4b1b78;
}
.nav-bar-wrapper .items{
cursor: pointer;
color: white;
font-weight: 700;
}


